body {
  background-color: rgba(34, 63, 54, 0.96); }

h1 {
  color: #fcfcfc;
  text-decoration: none;
  text-align: center;
  font-family: "Times New Roman", Times, serif; }

p {
  font-family: "Times New Roman", Times, serif;
  color: black; }

li {
  color: azure; }

label {
  color: white; }

.pruebaimg {
  width: 500px;
  margin-left: 30%; }

@media (max-width: 700px) {
  .pruebaimg {
    width: 100%;
    margin-left: 0px; } }

.box {
  padding: 10px; }

.btn-vermas {
  width: 100%;
  border-radius: 0px; }

.card-lenguaje {
  flex: 1 200px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px; }

.encabezado {
  background-color: rgba(0, 255, 208, 0.441);
  padding: 10px; }

.footer {
  margin-top: 20px;
  border-top: 1px solid black;
  background-color: rgba(0, 255, 208, 0.441); }

.footer a {
  color: blanchedalmond; }

.footer a:hover {
  color: mediumblue; }

.footer-address-icon {
  padding-right: 10px; }
