body {
  background-color: rgba(34, 63, 54, 0.96);
}

h1 {
  color: rgb(252, 252, 252);
  text-decoration: none;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

p {
  font-family: "Times New Roman", Times, serif;
  color: rgb(0, 0, 0);
}

li {
  color: azure;
}

label {
  color: white;
}

.pruebaimg {
  width: 500px;
  margin-left: 30%;
}

@media (max-width: 700px) {
  .pruebaimg {
    width: 100%;
    margin-left: 0px;
  }
}
