.footer {
  margin-top: 20px;
  border-top: 1px solid black;
  background-color: rgba(0, 255, 208, 0.441);
}

.footer a {
  color: blanchedalmond;
}

.footer a:hover {
  color: mediumblue;
}

.footer-address-icon {
  padding-right: 10px;
}
